// Main jumbotron for a primary marketing message or call to action
.jumbotron.logo.right
  .container
    h1 ¡Felicidades! 
    p Si estabas buscando superación llegaste al lugar indicado.

.container
  // Example row of columns
  .row
    .col-md-4
      h2 Jefaturas
      h3 Nadie te enseña a ser jefe.
      p A ser jefe se aprende día a día. 
      p Lo aprendes en el camino cuando tus expectativas y las de los demás van decantando y mostrándose como realidades de la convivencia cotidiana.
      p Las personas no renuncian a trabajos. #[strong Renuncian a jefes].
      img.img-responsive(src='/assets/images/boss-512.jpg')
      p El ambiente de trabajo que retiene o aleja a las personas es tan bueno (o malo) como las competencias que tengas tú como jefe para entender y entenderte con las personas de tu equipo.
      p.right
        a.btn.btn-block.btn-primary(
          ng-href='http://www.mas-tips.com/aprender-a-ser-jefe/',
          target='_blank',
          role='button')

          | Superate como jefe aquí &raquo;
      br
          
    .col-md-4
      h2 Empresas
      h3 Que difícil es el cambio.
      p Ningún cambio en la forma de trabajar es fácil ni simple.
      p Detrás de todo comportamiento laboral hay una manera de pensar y de hacer las cosas profundamente arraigados en las personas porque responden a sus patrones de #[strong éxito] y #[strong satisfacción] en lo que hacen.
      img.img-responsive(src='/assets/images/meeting-512.jpg')
      p Son conductas que en la mayoría de los casos responden a una #[strong cultura organizacional] que los condiciona a actuar de determinada manera. 
      p Conocer la cultura y el comportamiento de tu empresa es fundamental para tomar decisiones correctas.
      p.right
        a.btn.btn-block.btn-primary(
          ng-href='/theme',
          role='button')

          | Conoce más de tu empresa con nosotros &raquo;
      br    
      
          
    .col-md-4
      h2 Emprendimientos
      h3 El exito está en el espejo.
      p Vocación es lo que más nos gusta hacer. Convicción es la certeza que podemos hacerlo bien.
      img.img-responsive(src='/assets/images/new-business-512.jpg')
      br
      p.right
        a.btn.btn-block.btn-primary(
          ng-href='/theme',
          role='button')

          | Conocete mejor acá &raquo;
      br


.jumbotron
  .container
    h1 Somos
    p Personas trabajando con Personas
