// Main jumbotron for a primary marketing message or call to action
.jumbotron.logo.right
  .container
    h1 OTEC Gestión Valor
    p Somos personas trabajando con personas.

.container
  .row
    .page-header
      h1 Productos
    p.lead
      | Acompañamos el cambio de su empresa mejorando el relacionamiento y el conocimiento de sus propios trabajadores.
    
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          h3.panel-title Paquete Desarrollo de Jefaturas
        .panel-body
          .col-md-4
            img.img-responsive(src='/assets/images/boss-512.jpg')
          .col-md-8
            p Las jefaturas son la clave del cambio organizacional.
            p A ser jefe se aprende día a día.
            p Las personas no renuncian a trabajos. #[strong Renuncian a jefes].
            p El paquete de Desarrollo de Jefaturas consiste en un #[strong diagnóstico del relacionamiento entre jefaturas] y #[strong talleres] para que las jefaturas se empoderen en su rol transformador de la empresa y asegurar que se implemente con exito las estrategia de la empresa. 
            table.table
              tr
                th Servicio
                th Básico
                th Extendido
                th Complemento
              tr
                td Diagnóstico Dinámicas de Equipo
                td -
                td X
                td -
              tr
                td Talleres Desarrollo Jefaturas
                td X
                td X
                td -
              tr
                td Diagnóstico Comportamiento Organizacional
                td -
                td -
                td X
              tr
                td Evaluación Impacto de la Capacitación
                td -
                td -
                td X

        .panel-footer.right
          a.btn.btn-primary(
            ng-href='http://www.mas-tips.com/aprender-a-ser-jefe/',
            target='_blank',
            role='button')

            | Ver contenidos del paquete &raquo;
      
    .col-md-12
      .panel.panel-default
        .panel-heading
          h3.panel-title Falicilitación de proyectos
        .panel-body
          .col-md-4
            img.img-responsive(src='/assets/images/meeting-512.jpg')
          .col-md-8
            p Ningún proyecto en equipo es fácil ni simple.
            p Detrás de todo comportamiento laboral hay una manera de pensar y de hacer las cosas profundamente arraigados en las personas porque responden a sus patrones de #[strong éxito] y #[strong satisfacción] en lo que hacen.
            p Son conductas que en la mayoría de los casos responden a una #[strong cultura organizacional] que los condiciona a actuar de determinada manera. 
            p Conocer la cultura y el comportamiento de los equipos es fundamental para tomar decisiones correctas y generar un relacionamiento positivo y productivo.
            p El paquete de Facilitación de Proyectos evalúa y se adapta a las personalidades y formas de relacionamiento de los equipos encargados de un proyecto para asegurar su éxito.
            table.table
              tr
                th Servicio
                th Básico
                th Extendido
                th Complemento
              tr
                td Diagnóstico Dinámicas de Equipo
                td X
                td X
                td -
              tr
                td Talleres de Facilitación
                td X
                td X
                td -
              tr
                td Diagnóstico Comportamiento Organizacional
                td -
                td -
                td X
              tr
                td Evaluación Impacto de la Capacitación
                td -
                td -
                td X

        .panel-footer.right
          a.btn.btn-primary(
            ng-href='http://www.mas-tips.com/aprender-a-ser-jefe/',
            target='_blank',
            role='button')

            | Ver contenidos del paquete &raquo;

    .col-md-12
      .panel.panel-default
        .panel-heading
          h3.panel-title Relacionamiento Estrategico
        .panel-body
          .col-md-4
            img.img-responsive(src='/assets/images/new-business-512.jpg')
          .col-md-8
            p [Lorem ipsum]
            p [Lorem ipsum]
            p [Lorem ipsum]
            p [Lorem ipsum]
            p [Lorem ipsum]
            table.table
              tr
                th Servicio
                th Básico
                th Extendido
                th Complemento
              tr
                td Preparación Voceros
                td X
                td X
                td -
              tr
                td Talleres de Asimilación Inductiva
                td -
                td X
                td -
              tr
                td Diagnóstico Comportamiento Organizacional
                td -
                td -
                td X
              tr
                td Evaluación Impacto de la Capacitación
                td -
                td -
                td X
        .panel-footer.right
          a.btn.btn-primary(
            ng-href='http://www.mas-tips.com/aprender-a-ser-jefe/',
            target='_blank',
            role='button')

            | Ver contenidos del paquete &raquo;

    .col-md-12
      .panel.panel-default
        .panel-heading
          h3.panel-title Incorporación Business Inteligence
        .panel-body
          .col-md-4
            img.img-responsive(src='/assets/images/colors-512.jpg')
          .col-md-8
            p Ningún cambio en la forma de trabajar es fácil ni simple.
            p Detrás de todo comportamiento laboral hay una manera de pensar y de hacer las cosas profundamente arraigados en las personas porque responden a sus patrones de #[strong éxito] y #[strong satisfacción] en lo que hacen.
            p Lo aprendes en el camino cuando tus expectativas y las de los demás van decantando y mostrándose como realidades de la convivencia cotidiana.
            p Son conductas que en la mayoría de los casos responden a una #[strong cultura organizacional] que los condiciona a actuar de determinada manera. 
            p Conocer la cultura y el comportamiento de tu empresa es fundamental para tomar decisiones correctas.
        .panel-footer.right
          a.btn.btn-primary(
            ng-href='http://www.mas-tips.com/aprender-a-ser-jefe/',
            target='_blank',
            role='button')

            | Ver contenidos del paquete &raquo;

.jumbotron
  .container
    h1 Somos
    p Personas trabajando con Personas
